  <section class="about-section text-center" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mx-auto">
                  <h2 class="text-white mb-4">Narciarstwo Wysokogórskie</h2>
                  <p class="text-white-50">
                    Rodzaj sportu narciarskiego: połączenie wspinaczki zimowej, wędrówki na nartach oraz zjazdu narciarskiego w terenie górskim, o znacznym stopniu nachylenia i dużych niebezpieczeństwach obiektywnych
                  </p>
              </div>
          </div>
          <img class="img-fluid" src="img/ipad.png" alt="" />
      </div>
  </section>
