.bg {
  background-image: url("../img/bg2.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-head {
  font-weight: 700;
  color: yellow;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.main {
  padding-top: 72px;
}
